Checks: >
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  -misc-no-recursion,
  modernize-*,
  performance-*,
  portability-*,
  -portability-avoid-pragma-once,
  readability-*,
  -readability-identifier-length

